* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: rgb(2, 91, 2);
    font-family: 'Lato', sans-serif;
}

header {
    text-align: center;
    padding: 20px 0px;
    font-size: 1.3rem;
    font-family: 'Rubik Maze', cursive;
}

main {
    padding: 0% 1.5%;
}

.search {
    padding: 0px 0px 20px 0px;
}

.search-song {
    border: 2px solid salmon;
    display: block;
    margin: 0 auto;
    height: 40px;
    width: 250px;
    border-radius: 10px;
    font-size: 1.25rem;
}



.content {
    list-style-type: none;
    padding: 0.1rem 0rem;
}

.result {
    padding: 5px 0px;
}

.single {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0.75rem 0rem;
}

.main-header {
    background-color: rgb(11, 106, 11);
    font-size: 1.5rem;
    position: sticky;
    top: 0px;
}

.single > h4 {
    flex-grow: 1;
    flex-shrink: 0;
    padding-left: 0.25rem;
}

.single > h4:nth-child(1) {
    flex-basis: 5px;
}

.single > h4:nth-child(2) {
    flex-basis: 5px;
}

.single > h4:nth-child(3) {
    flex-basis: 5px;
}

.main-results {
    background-color: rgb(8, 109, 8);
}

.main-results:hover {
    background-color:rgb(15, 121, 15)
}

.dropdown-button {
    background-color: green;
}

.dropdown-button:hover{
    background-color: greenyellow;
}

.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: rgb(3, 124, 3);
}



.p1, .p2, .a1, .a2, .a3 {
    border: 2px solid rgb(8, 109, 8);
    flex-grow: 1;
    padding: 0.125rem 0.25rem;
}

.wrapper-hidden {
    display: none;
}


.p1, .p2 {
    flex-basis: 50px;
}

.a1, .a2, .a3 {
    flex-basis: 200px;
}
