* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: darkgreen;
}

header {
    border: 2px solid blue;
    text-align: center;
    padding: 20px 0px;
    font-size: 1.3rem;
}

.search {
    border: 2px solid aquamarine;
    padding: 0px 0px 20px 0px;
}

.search-song {
    border: 2px solid salmon;
    display: block;
    margin: 0 auto;
    height: 40px;
    width: 250px;
    border-radius: 10px;
    font-size: 1.25rem;
}



.content {
    list-style-type: none;
    padding: 0.25rem 0rem;
}

.result {
    padding: 5px 0px;
    border: 2px solid yellow;
}

.single {
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    flex-wrap: nowrap;
    padding: 0.75rem 0rem;
}

.single > h4 {
    flex-grow: 1;
    flex-shrink: 0;
}

.single > h4:nth-child(1) {
    flex-basis: 5px;
}

.single > h4:nth-child(2) {
    flex-basis: 5px;
}

.single > h4:nth-child(3) {
    flex-basis: 5px;
}

.dropdown-button {
    background-color: green;
}

.dropdown-button:hover{
    background-color: greenyellow;
}

.all-wrap {
    border: 2px solid red;
    padding: 0px 25px;
}


.wrapper {
    border: 2px solid red;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}


.p1, .p2, .a1, .a2, .a3 {
    border: 2px solid black;
    flex-grow: 1;
}

.wrapper-hidden {
    display: none;
}


.p1 {
    flex-basis: 50px;
}

.p2 {
    flex-basis: 50px;
}

.a1 {
    flex-basis: 200px;
}

.a2 {
    flex-basis: 200px;
}

.a3 {
    flex-basis: 200px;
}
